body {
	padding-top: 50px;
}

.row {
	margin: 5px -5px 5px -5px;
}

.row div {
	padding-left: 5px;
	padding-right: 5px;
}

.row-block {
	margin-top: 15px;
	margin-bottom: 15px;
}

#pushimport,
#pushurl,
#pushroll {
	width: 100%;
}

#pushcontent {
	min-width: 100%;
	max-width: 100%;
	min-height: 112px;
}

.sum_title {
	cursor: pointer;
}

.sum_list {
	display: none;
}

#idCount {
	font-weight: bold;
}

#pushinfo {
	display: none;
	line-height: 34px;
	border-radius: 4px;
	padding: 0px 10px;
}
