body {
	padding-top: 50px;
}

label {
	cursor: pointer;
}

blockquote {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.filter_block {
	display: none;
}

.row {
	margin: 5px -5px 5px -5px;
}

.row div {
	padding-left: 5px;
	padding-right: 5px;
}

.row-block {
	margin-top: 20px;
	margin-bottom: 30px;
}

#pushimport,
#pushurl,
#pushroll {
	width: 100%;
}

#pushcontent {
	min-width: 100%;
	max-width: 100%;
	min-height: 112px;
}

.sum_title {
	cursor: pointer;
}

.sum_list {
	display: none;
}

#sum_origin_list > div {
	font-weight: bold;
}

#pushCount,
#idCount {
	font-weight: bold;
}

#pushinfo {
	display: none;
	line-height: 34px;
	border-radius: 4px;
	padding: 0px 10px;
}

#data-result {
	display: none;
}

#result div {
	font-weight: bold;
}

#footer {
	color: #CCCCCC;
	padding-top: 9px;
	margin: 20px 0 40px;
	border-top: 1px solid #EEE;
}
